#app{
  height: 100%;
  position: relative;
}
// 全局样式,Vue编辑结束前不显示
[v-cloak] {
	display: none;
}

%ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

%ellipsis-mutil {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.ellipsis {
  @extend %ellipsis;
}

.ellipsis2,
.ellipsis3 {
  @extend %ellipsis-mutil;
}

.ellipsis2 {
  -webkit-line-clamp: 2;
}

.ellipsis3 {
  -webkit-line-clamp: 3;
}
.text-left{
  text-align: left;
}
.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}
.color-primary{
  color: $colorPrimary;
}
.color-warning{
  color: $colorOrange;
}
.color-danger{
  color: $colorRed;
}
.lf{
  float: left;
}
.rt{
  float: right;
}
.flex{
  display: flex;
}
.inline-block{
  display: inline-block;
}
.block{
  display: block;
}

.container{
  width: 1200px;
  margin: 0 auto;
  position: relative;
}
.height-100{
  height: 100%;
}
.width-100{
  width: 100%;
}


// 公共内容布局
.inner-page-container{
  height: 100%;
  .el-header{
    padding: 0;
  }
  .el-main{
    padding: 0;
  }
}
.inner-main-content{
  width: 100%;
  height: 100%;
  background: #f2f2f2;
}
.inner-content{
  width: 100%;
  height: 100%;
  padding: 29px 22px;
  background: #fff;
}

// 按钮工具栏
.content-tools{
  display: flex;
  justify-content: space-between;
  &.is-flex-end{
    justify-content: flex-end;
  }
}
.tools-right{
  display: flex;
  .el-button{
    margin-left: 20px;
  }
}
// 重构tabs样式
/deep/.el-tabs{
  height: 100%;
  .el-tabs--border-card{
    position: relative;
    border-color: #eeeeee;
  }
  .el-tabs__nav{
    height: 50px;
  }
  .el-tabs__item{
    height: 51px;
    line-height: 50px;
    font-size: 16px;
    color: #777777;
    .badge{
      margin-left: 12px;
    }
    &.is-active{
      color: $colorPrimary;
      border-top: 2px solid $colorPrimary;
    }
  }
  .el-tabs--border-card > .el-tabs__content{
    padding: 0;
  }
  .el-tabs__content{
    height: 100%;
    .el-tab-pane{
      height: 100%;
    }
  }
}
