/* 全局重置 elementUI scss */

// 重置 table
/deep/.el-table {
  td{
    padding: 4px;
  }
  th{
    padding: 8px 0;
    background: #f5f6fa;
  }
}

// 重置 pagination
/deep/.el-pagination{
  button, span:not([class*=suffix]){
    height: 32px;
    line-height: 32px;
  }
  .el-pager{
    &>li{
      height: 32px;
      line-height: 32px;
    }
  }
  &.is-background{
    .btn-next,
    .btn-prev,
    .el-pager li{
      border-radius: 0;
      background: #fff;
      border: 1px solid #eee;
      min-width: 32px;
    }
    el-pager li:not(.disabled).active{
      border: none;
    }
  }
}

// 重置弹框样式
/deep/.el-dialog{
  border-radius: 10px;
  .el-dialog__header{
    background: $colorPrimary;
    padding: 15px 20px;
    border-radius: 10px 10px 0 0;
    font-size: 16px;
    color: #ffffff;
  }
  .el-dialog__title{
    color: #ffffff;
  }
  .el-dialog__headerbtn{
    top: 16px;
  }
  .el-dialog__headerbtn .el-dialog__close{
    color: #ffffff;
  }
}

// 重置form
/deep/.el-form-item--mini.el-form-item, .el-form-item--small.el-form-item{
  margin-bottom: 30px;
}
/deep/.el-input__prefix, .el-input__suffix{
  color: $colorGreen;
}
