
// 公共内容布局
.inner-page-container{
  height: 100%;
}
.inner-header{
  padding: 0;
}
.inner-main-container{
  padding: 0;
  >>> .el-tabs__content{
    position: absolute;
    top: 0;
    left: 0;
    padding: 50px 0 0;
  }
}
.inner-main-content{
  width: 100%;
  height: 100%;
}
.inner-content{
  width: 100%;
  height: 100%;
  padding: 30px 22px;
  background: #ffffff;
}

// 按钮工具栏
.content-tools{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  &.is-flex-end{
    justify-content: flex-end;
  }
}
.tools-right{
  display: flex;
  .el-button{
    margin-left: 20px;
  }
}

// 自定义Table

.custom-table-header{
  background: #f5f6fa;
  border-bottom: 1px solid $colorBorder;
  font-size: 20px;
  padding: 20px 10px;
  color: $colorText;
  text-align: center;
}
.custom-table{
  width: 816px;
  margin: 0px auto;
  border: solid $colorBorder;
  border-width: 1px 1px 0 1px;
}
.custom-tbody{
  &.is-flex{
    display: flex;
    width: 100%;
    .custom-tr + .custom-tr{
      border-left: 1px solid $colorBorder;
    }
  }
  &.is-inline{
    .custom-th-label{
      min-width: 220px;
    }

    .custom-td-value{
      padding-left: 30px;
      width: calc( 100% - 220px);
    }
    .custom-tr{
      max-height: 40px;
      overflow: hidden;
    }
  }
}
.custom-tr{
  font-size: 0;
  border-bottom: 1px solid $colorBorder;
  flex: 1;
  &.is-flex{
    display: flex;
    .custom-th-label,
    .custom-td-value{
      flex: 1;
    }
    .custom-th-label{
      &.is-col-3{
        flex: 4.01;
      }
      + .custom-th-label{
        border-left: 1px solid $colorBorder;
      }
    }
  }
}
.custom-th-label{
  display: inline-block;
  font-size: 16px;
  color: $colorText;
  background: $bgTableHeader;
  text-align: center;
  vertical-align: top;
  padding: 10px 5px;
  + .custom-td-value{
    border-left: 1px solid $colorBorder;
  }
  &.is-block{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }
  &.is-flex{
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  &.is-colspan{
    padding: 0;
  }
}
.custom-th-label-block{
  display: block;
  width: 100%;
  min-height: 40px;
  line-height: 40px;
  + .custom-th-label-block{
    border-top: 1px solid $colorBorder;
  }
}

.custom-th-label-flex{
  display: flex;
  align-items: center;
  justify-content: center;
}
.custom-td-value{
  display: inline-block;
  font-size: 16px;
  color: $colorText;
  vertical-align: top;
  padding: 10px 5px;
  min-height: 40px;
  + .custom-td-value{
    border-left: 1px solid $colorBorder;
  }
  &.is-ellipsis{
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .el-input.is-disabled .el-input__inner{
    background-color: transparent;
  }
  .el-input__inner{
    border: 0;
    height: 18px;
    line-height: 18px;
  }
}
.custom-td-text{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.custom-td-img-list{
  // background: #e0e0e0;
  // padding: 5px;
  margin: 20px 0 10px;
  font-size: 0;
}
.img-list-item{
  display: inline-block;
  // width: 90px;
  // height: 90px;
  border: solid $colorBorder;
  border-width: 4px 0 4px 0px;
  &:first-child{
    border-left-width: 4px;
  }
  &:last-child{
    border-right-width: 4px;
  }
  + .img-list-item{
    border-left-width: 4px;
  }
  .item-img{
    display: inline-block;
    width: 90px;
    height: 90px;
    background: pink;
  }
}
.card-form{
  position: relative;
}
.card-button{
  position: absolute;
  right: 0px;
  bottom: 2px;
}

// 重构tabs样式
/deep/.el-tabs--border-card{
  position: relative;
  border-color: #eeeeee;
  height: 100%;
  .el-tabs__nav{
    height: 50px;
  }
  .el-tabs__item{
    height: 51px;
    line-height: 50px;
    font-size: 16px;
    color: #777777;
    .badge{
      margin-left: 12px;
    }
    &.is-active{
      color: $colorPrimary;
      border-top: 2px solid $colorPrimary;
    }
  }
  .el-tabs__content{
    width: 100%;
    height: 100%;
    .el-tab-pane{
      height: 100%;
    }
  }
}


/deep/.el-tag{
  &.tag-low{
    background: $colorLow;
    border-color: $colorLow;
  }
  &.tag-danger{
    background: $colorDanger;
    border-color: $colorDanger;
  }
  &.tag-normal{
    background: $colorNormal;
    border-color: $colorNormal;
  }
  &.tag-warning{
    background: $colorWarning;
    border-color: $colorWarning;
  }
}

//分页布局
.el-pagination__wrap{
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
}
