/* 全局重置scss */

* {
  // margin: 0;
  // padding: 0;
  box-sizing: border-box;
}
a{
  cursor: pointer;
  text-decoration: none;
}
html,body{
  width: 100%;
  height: 100%;
  // overflow: hidden;
  font-family: $fontFamily;
}
html{
  // height: 100vh;
}
body{
  font-size: 14px;
  margin: 0;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
  content: normal !important;
  border-style: none;
  pointer-events: none;
}
a{
  text-decoration: none;
  color: $colorLinks;
  background-color: transparent;
}
i,
em{
  font-style: normal;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p, figure, form, blockquote {
  margin: 0;
}

// ul ol dl
ul, ol, dl, dd {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none outside none;
}

// hn
h1, h2, h3 {
  line-height: 2;
  font-weight: normal;
}
input{
  outline: none;
}
textarea{
  outline: none;
  resize: none;
}

// 去掉input的type为number的时候的箭头样式
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"]{
  -moz-appearance: textfield;
}
// vue的scope下
/deep/ input::-webkit-outer-spin-button,
/deep/ input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
/deep/ input[type="number"]{
  -moz-appearance: textfield;
}