// 定义主题颜色
// theme0: 蓝色(默认)
// theme1: 黑色
// theme2: 粉色
// theme3: 绿色

// 主背景颜色
$header-background-theme0: #1a6fba;
$header-background-theme1: #232c37;
$header-background-theme2: #db4d6d;
$header-background-theme3: #86c166;

// menu背景颜色
$menu-background-theme0: #247ece;
$menu-background-theme1: #27323d;
$menu-background-theme2: #c23d5b;
$menu-background-theme3: #9acb7f;

// menu ACTIVE 背景颜色
$menu-active-theme0: #1d588d;
$menu-active-theme1: #409eff;
$menu-active-theme2: #8f2444;
$menu-active-theme3: #457532;

// menu 二级菜单 背景颜色
$sec-menu-theme0: #1d588d;
$sec-menu-theme1: #0b0e12;
$sec-menu-theme2: #aa2f50;
$sec-menu-theme3: #649c4b;

// menu 二级菜单 文字颜色
$secmenu-font-theme0: #8ac8ff;
$secmenu-font-theme1: #fff;
$secmenu-font-theme2: #fff;
$secmenu-font-theme3: #fff;

// menu 二级菜单 ACTIVE 背景颜色 && menu ACTIVE 状态的线条颜色
$secmenu-active-theme0: #104676;
$secmenu-active-theme1: #28333f;
$secmenu-active-theme2: #e09aad;
$secmenu-active-theme3: #a5c796;

// menu 二级菜单 ACTIVE 文字颜色
$secmenu-active-font-theme0: #fff;
$secmenu-active-font-theme0: #3591f8;
$secmenu-active-font-theme0: #832e45;
$secmenu-active-font-theme0: #4a7339;
