// 定义公用的css变量


// Color
$colorPrimary:            #409eff !default;
$colorText:               #333333 !default;
$colorLinks:              #409eff !default;
$colorBorder:             #eeeeee !default;
$colorBorderDark:         #888888 !default;

$colorRed:                #d13a38 !default;
$colorBlue:               #0568eb !default;
$colorGreen:              #67c23a !default;
$colorOrange:             #f4a028 !default;
$colorYellow:             #fff223 !default;

// ColorSkin
$bgHeader:                #1a6fba !default;
$bgAside:                 #247ece !default;
// $bgAsideMenu:             #1d588d !default;
$bgAsideMenuHover:        #1d588d !default;
$bgAsideSubMenu:          #1d588d !default;
$bgAsideSubMenuHover:     #104676 !default;
$borderAsideSubMenu:      #114d77 !default;
$borderAsideMenu:         #144f84 !default;
$colorAside:              #ffffff !default;
$colorAsideSubMenu:       #8ac8ff !default;

// Bg
$bgPrimary:               #409eff !default;

// Font
$fontFamily:               "PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
